<div class="w-full flex justify-center items-center h-screen bg-zinc-800">
  <div class="lg:w-2/4 h-fit sm:w-full p-3 flex flex-col justify-center items-center bg-zinc-900 shadow-xl rounded-lg">
    <div class="w-full flex justify-between p-2">
      <!-- search -->
        <form class="relative">
          <i class="absolute ms-3 mt-2 fa-solid fa-magnifying-glass text-zinc-400"></i>
          <input [(ngModel)]="searchKey" name="search" type="text" class="bg-zinc-800 w-72 h-8 rounded-lg px-12  focus:outline-none placeholder:text-zinc-400 text-zinc-300" placeholder="Search for a city...">     
          <button (click)="getWeather()" type="submit" class="text-zinc-300 p-1 px-2 rounded-md ms-2 bg-zinc-700">Search</button>
        </form>
        <!-- <pre class="text-zinc-100">
          {{searchKey}}
        </pre> -->
      <!-- degree / farehheit button -->
      <div class="text-zinc-200 me-6 flex">
        <button (click)="setCelcius()" class="text-xl me-3 font-medium">&deg; C</button>
        <button (click)="setFareheit()" class="text-xl font-medium">&deg; F</button>
      </div>
    </div>

    <!-- location -->
    <div class="flex flex-col justify-center items-center mt-7">
      <h1 class="text-zinc-100 text-4xl font-medium">{{weatherData.name}}, {{weatherData?.sys.country}}</h1>
      <p class="text-zinc-100 mt-2 font-extralight">{{date}}</p>
    </div>
    
    <div class="mt-8">
      <p class=" p-2 px-4 text-zinc-200 bg-zinc-800 rounded-full">{{weatherInfo}}</p>
    </div>

    <div class="mt-6">
      <img *ngIf="weatherInfo=='Clouds'" width="60px" src="../assets/Images/cloudy.png" alt="">
      <img *ngIf="weatherInfo=='Clear'" width="60px" src="../assets/Images/sun.png" alt="">
      <img *ngIf="weatherInfo=='Rain'" width="60px" src="../assets/Images/raining.png" alt="">
      <img *ngIf="weatherInfo=='Snow'" width="60px" src="../assets/Images/snow.png" alt="">
    </div>

    <div class="mt-5">
      <p class="text-zinc-100 text-4xl font-semibold">{{weatherData.main.temp}}&deg;</p>
    </div>

    <div class="mt-3 flex">
      <p class="text-zinc-100 text-lg me-5">Min: <span>{{weatherData.main.temp_min}}&deg;</span></p>
      <p class="text-zinc-100 text-lg">Max: <span>{{weatherData.main.temp_max}}&deg;</span></p>
    </div>

    <!-- feels like, pressure, wind... -->
    <div class="w-full p-3 grid grid-cols-2 gap-4 mt-10">
      <div class="bg-zinc-800 flex items-center px-4 py-4 rounded-md">
        <i class="fa-solid fa-temperature-half fa-2xl text-zinc-100"></i>
        <div class="flex flex-col ms-4 text-zinc-100">
          <p class="text-lg">Feels Like</p>
          <p class="text-md font-light">{{weatherData.main.feels_like}}&deg;</p>
        </div>
      </div>
      <div class="bg-zinc-800 flex items-center px-4 py-4 rounded-md">
        <img width="35px" src="../assets/Images/icons8-humidity-50.png" alt="">
        <div class="flex flex-col ms-4 text-zinc-100">
          <p class="text-lg">Humidity</p>
          <p class="text-md font-light">{{weatherData.main.humidity}}%</p>
        </div>
      </div>
      <div class="bg-zinc-800 flex items-center px-4 py-4 rounded-md">
        <i class="fa-solid fa-wind fa-2xl text-zinc-100"></i>
        <div class="flex flex-col ms-4 text-zinc-100">
          <p class="text-lg">Wind</p>
          <p class="text-md font-light">{{weatherData.wind.speed}}</p>
        </div>
      </div>
      <div class="bg-zinc-800 flex items-center px-4 py-4 rounded-md">
        <img width="35px" src="../assets/Images/icons8-pressure-50.png" alt="">
        <div class="flex flex-col ms-4 text-zinc-100">
          <p class="text-lg">Pressure</p>
          <p class="text-md font-light">{{weatherData.main.pressure}} hPa</p>
        </div>
      </div>
    </div>
  </div>
</div>